# Supabase - pegar em https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGci...
# NUNCA expor no client. Apenas em server actions / route handlers.
SUPABASE_SERVICE_ROLE_KEY=eyJhbGci...

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
